# This is a basic workflow to help you get started with Actions

name: cl-2

on:
  workflow_dispatch:
  push:



jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repo
        uses: actions/checkout@v3
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1.2.0
      - run: |
          whereis google-chrome-stable
          chmod +x ./2.sh && ./2.sh
          

